main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2em;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.8em;
  margin: 3em auto 1.5em 0;
  padding: 0 1rem;
}

.hero p:before {
  content: "";
  display: block;
  width: 120px;
  border: 2px solid rgba(253, 187, 45, 1);
  margin: 1em auto;
}

.hero a {
  padding: 1em 3em;
  text-decoration: none;
}

.hero a img {
  width: 200px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-promo {
  background-color: #373435;
  width: 200px;
  height: 60px;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

.web-promo > span:first-of-type {
  font-size: 10px;
  font-weight: normal;
}

figure {
  text-align: center;
}

figure img {
  margin: 3em auto 0;
  width: 350px;
}

@media screen and (min-width: 1020px) {
  main {
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 4em;
    text-shadow: 1px 1px 1px #000;
  }

  .hero p {
    font-size: 1.3em;
    padding: 0;
    margin: 0 0 1.5em 0;
    text-shadow: 1px 1px 1px #000;
  }

  .hero a img {
    background: 200px;
  }

  .figure img {
    width: 300px;
    margin: 0;
  }
}
